@page "/"
@inject IConfiguration configuration

<PageTitle>Index</PageTitle>

  <div class="content" align="center">
      <h1>Pikk dáma ütés számító</h1>
      <div class="row justify-content-sm-center">
          <div class="col-sm-auto col-md-auto col-lg-auto">
              <RadzenCard>
                  <h4 class="mb-3 mt-3" align="left">Ütések száma:</h4>
                  <RadzenNumeric align="left" TValue="int" Value=@utesek Min="1" Max="13" Change=@(args => OnUtesekSzama((int)args, "Ütések")) class="w-100"/>
                  <RadzenCheckBoxList @bind-Value=@values AllowSelectAll="true" SelectAllText="Select all items" TValue="int" Orientation="Orientation.Vertical" Change="Callback">
                      <Items>
                          <RadzenCheckBoxListItem Text="Pikk Dáma" Value="-26" />
                          <RadzenCheckBoxListItem Text="Kör Ász" Value="-14" />
                          <RadzenCheckBoxListItem Text="Kör Király" Value="-13" />
                          <RadzenCheckBoxListItem Text="Kör Dáma" Value="-12" />
                          <RadzenCheckBoxListItem Text="Kör Bubi" Value="-11" />
                          <RadzenCheckBoxListItem Text="Kör 10" Value="-10" />
                          <RadzenCheckBoxListItem Text="Kör 9" Value="-9" />
                          <RadzenCheckBoxListItem Text="Kör 8" Value="-8" />
                          <RadzenCheckBoxListItem Text="Kör 7" Value="-7" />
                          <RadzenCheckBoxListItem Text="Kör 6" Value="-6" />
                          <RadzenCheckBoxListItem Text="Kör 5" Value="-5" />
                          <RadzenCheckBoxListItem Text="Kör 4" Value="-4" />
                          <RadzenCheckBoxListItem Text="Kör 3" Value="-3" />
                          <RadzenCheckBoxListItem Text="Kör 2" Value="-2" />
                      </Items>
                  </RadzenCheckBoxList>
                  <RadzenButton class="mt-3" Click=@(args => OnClick("Törlés button ")) Text="Törlés" ButtonStyle="ButtonStyle.Success" />
              </RadzenCard>
          </div>
      </div>
  </div>


  <EventConsole @ref=@console class="mt-4" />

@code {
    IEnumerable<int> values = new int[] { };
    int utesek = 1;

  EventConsole? console;

  protected override void OnInitialized()
  {

  }

  protected override void OnAfterRender(bool firstRender)
  {
    base.OnAfterRender(firstRender);
  }


  void OnUtesekSzama(int value, string name)
  {
      utesek = value;
      console?.Log($"Ütések száma:{value}");
  }

  void OnClick(string value)
  {
      values = new int[]{};
  }
  
  private void Callback(IEnumerable<int> obj)
  {
      foreach (var i in obj)
      {
            console?.Log($"checkboxlist {i}");
        }
  }

}


